@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Redressed&display=swap');

.redressed{
    font-family: 'Redressed', cursive;
}

.merriweather{
    font-family:'Merriweather', serif;
}
body{
    background-image: url(./image/R.jpg);
    /* background-size:110%; */
  }
  .navbar-brand{
    color:#fff;
  }
  .nav-link{
    color:#fff;
  }
  
  .navbar .nav-link{
      border-bottom: 1px solid transparent;
      transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
      padding-bottom: 15px;
      border-bottom-color:#fff;
  }

.galeries{
    color: #fff;
    font-size: 35px;
    font-family: 'Merriweather', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.row .card{
    background-color: transparent;

}

.btn-order{
    color: rgb(24, 237, 28);
    border-color: rgb(24, 237, 24);
    transition: 0.5s;
}

.btn-order:hover,
.btn-order:active{
    color:#fff;
    background: rgb(25, 181, 25);
}
